@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.home {
  width: 100%;
  height: 100vh;
  background-color: #F7F8FC;
  justify-content: center;
  align-items: center;
  display: flex; }
  .home__navigation {
    width: 25%;
    height: 100%;
    background-color: #fff;
    padding: 55px 45px;
    justify-content: space-between;
    align-items: space-between;
    display: flex;
    flex-direction: column; }
    .home__navigation-top-logo {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      cursor: pointer; }
      .home__navigation-top-logo .home__icon {
        width: 38px;
        height: 45px;
        background-image: url(../img/logo.svg);
        background-size: cover; }
      .home__navigation-top-logo .home__logo {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: auto;
        letter-spacing: auto;
        color: #15151F;
        margin-top: 0px;
        margin-left: 15px; }
    .home__navigation-top-menu {
      width: auto;
      height: auto;
      margin-top: 50px; }
      .home__navigation-top-menu .home__nav {
        width: 100%;
        height: 60px;
        border-radius: 4px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin-top: 20px;
        padding-left: 20px;
        cursor: pointer; }
        .home__navigation-top-menu .home__nav-icon {
          width: 30px;
          height: 30px;
          background-size: cover; }
        .home__navigation-top-menu .home__nav-icon1 {
          background-image: url(../img/profil.svg); }
        .home__navigation-top-menu .home__nav-icon2 {
          background-image: url(../img/support.svg); }
        .home__navigation-top-menu .home__nav-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: auto;
          letter-spacing: auto;
          color: #fff;
          margin-top: 0px;
          margin-left: 20px; }
        .home__navigation-top-menu .home__nav-defult {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: auto;
          letter-spacing: auto;
          color: #94A3B8;
          margin-top: 0px;
          margin-left: 20px; }
      .home__navigation-top-menu .home__nav-active {
        background: #9747FF; }
    .home__navigation-bottom {
      width: auto;
      height: auto;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      cursor: pointer; }
      .home__navigation-bottom-icon {
        width: 30px;
        height: 30px;
        background-image: url(../img/log-out.svg);
        background-size: cover; }
      .home__navigation-bottom-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: auto;
        letter-spacing: auto;
        color: #94A3B8;
        margin-top: 0px;
        margin-left: 20px; }
  .home__loading {
    width: 75%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 100px; }
  .home__container {
    width: 75%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 100px; }
    .home__container .home__container-top {
      width: 100%;
      height: 40%; }
      .home__container .home__container-top-title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: auto;
        letter-spacing: auto;
        color: #15151F;
        margin-top: 0px; }
      .home__container .home__container-top-filter {
        width: auto;
        height: auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 70% 30%;
        /* Перша кнопка 70%, друга 30% */
        gap: 10px;
        grid-auto-rows: minmax(15px, auto); }
        .home__container .home__container-top-filter .home__search {
          width: 100%;
          height: 60px;
          border-radius: 4px;
          border: 1px solid #E8E8E8;
          background: #FFF;
          justify-content: flex-start;
          align-items: center;
          display: flex;
          padding: 0 20px;
          cursor: pointer; }
          .home__container .home__container-top-filter .home__search-icon {
            width: 24px;
            height: 24px;
            background-image: url(../img/search.svg);
            background-size: cover; }
          .home__container .home__container-top-filter .home__search-input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            margin-left: 25px;
            justify-content: flex-start;
            align-items: center;
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: auto;
            letter-spacing: auto;
            color: #94A3B8;
            margin-top: 0px; }
      .home__container .home__container-top-filter .home__button:nth-child(n + 3) {
        grid-column: span 2; }
      .home__container .home__container-top-password {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: auto;
        letter-spacing: auto;
        color: #94A3B8;
        margin-top: 30px; }
        .home__container .home__container-top-password span {
          color: #9747FF; }
    .home__container-bottom {
      width: 100%;
      height: 60%;
      overflow-y: auto;
      padding-right: 2%;
      /* Track */
      /* Handle */ }
      .home__container-bottom::-webkit-scrollbar {
        width: 6px;
        left: -100px; }
      .home__container-bottom::-webkit-scrollbar-track {
        background: transparent; }
      .home__container-bottom::-webkit-scrollbar-thumb {
        background: #94A3B8;
        border-radius: 10px; }
      .home__container-bottom-password {
        width: 100%;
        height: 102px;
        border-radius: 5px;
        border: 1px solid #E8E8E8;
        background: #FFF;
        padding: 21px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 10px 0; }
        .home__container-bottom-password .password__info {
          width: auto;
          height: auto;
          justify-content: flex-start;
          align-items: center;
          display: flex; }
          .home__container-bottom-password .password__info-photo {
            width: 80px;
            height: 80px;
            background: #F5F2F6; }
          .home__container-bottom-password .password__info-text {
            width: auto;
            height: 80px;
            justify-content: space-between;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            margin-left: 30px; }
            .home__container-bottom-password .password__info-text .password__title {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: auto;
              letter-spacing: auto;
              color: #15151F;
              margin-top: 0px; }
            .home__container-bottom-password .password__info-text .password__main {
              width: auto;
              height: 32px;
              border-radius: 39px;
              background: #9747FF;
              justify-content: center;
              align-items: center;
              display: flex;
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: auto;
              letter-spacing: auto;
              color: 0;
              margin-top: 0px;
              color: #fff;
              padding: 0 12px;
              cursor: pointer; }
        .home__container-bottom-password .password__changes {
          width: auto;
          height: 80px;
          justify-content: space-between;
          align-items: flex-end;
          display: flex;
          flex-direction: column; }
          .home__container-bottom-password .password__changes-date {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: auto;
            letter-spacing: auto;
            color: #94A3B8;
            margin-top: 0px; }
          .home__container-bottom-password .password__changes-box {
            width: auto;
            height: auto;
            justify-content: flex-start;
            align-items: center;
            display: flex; }
            .home__container-bottom-password .password__changes-box .change__button {
              width: 34px;
              height: 34px;
              border: 1px solid #E8E8E8;
              background: #FFF;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              display: flex;
              margin: 0 15px;
              position: relative;
              left: 15px; }
              .home__container-bottom-password .password__changes-box .change__button-img {
                width: 19px;
                height: 19px;
                background-size: cover;
                background-repeat: no-repeat; }
              .home__container-bottom-password .password__changes-box .change__button-copys {
                background-image: url(../img/copy.svg); }
              .home__container-bottom-password .password__changes-box .change__button-oEyes {
                background-image: url(../img/oEyes.svg); }
              .home__container-bottom-password .password__changes-box .change__button-cEyes {
                background-image: url(../img/cEyes.svg); }
              .home__container-bottom-password .password__changes-box .change__button-trash {
                background-image: url(../img/trash.svg); }
  .home__popup {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    border: 2px solid #E8E8E8;
    position: absolute;
    z-index: 3;
    overflow: hidden;
    background: rgba(151, 71, 255, 0.9);
    backdrop-filter: blur(8.5px);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    bottom: 101%;
    opacity: 0;
    transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    padding-left: 10px;
    padding-right: 10px; }
    .home__popup-penguin {
      width: 203px;
      height: 243px;
      background-image: url(../img/penguin.svg);
      position: absolute;
      left: -15%;
      transform: rotate(34deg); }
    .home__popup-close {
      width: 24px;
      height: 24px;
      background-image: url(../img/close.svg);
      background-size: cover;
      position: absolute;
      z-index: 5;
      left: 94%;
      bottom: 92%;
      cursor: pointer; }
    .home__popup-title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: auto;
      letter-spacing: auto;
      color: #fff;
      margin-top: 0px;
      z-index: 4;
      margin-bottom: 10px;
      text-align: center; }
    .home__popup-input {
      width: 282px;
      height: 60px;
      border-radius: 4px;
      border: 1px solid #E8E8E8;
      background: #FFF;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      padding: 0 25px;
      z-index: 4;
      outline: none;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: auto;
      letter-spacing: auto;
      color: #94A3B8;
      margin-top: 0px;
      margin-top: 15px; }
    .home__popup-button {
      width: 282px;
      height: 60px;
      border-radius: 4px;
      border: none;
      background: #9747FF;
      justify-content: center;
      align-items: center;
      display: flex;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: auto;
      letter-spacing: auto;
      color: #fff;
      margin-top: 0px;
      transition: 0.5s;
      cursor: pointer;
      z-index: 4;
      margin-top: 70px; }
      .home__popup-button:hover {
        border: 1px solid #9747FF;
        background-color: transparent;
        color: #9747FF;
        transition: 0.5s; }
    .home__popup::after {
      content: "";
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background: #334155;
      position: absolute;
      bottom: -30%; }
  .home__popup-open {
    flex-direction: column;
    bottom: 10%;
    transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1; }

@media screen and (max-width: 1300px) {
  .home__container .home__container-top-filter {
    margin-top: 15px; }
  .home__container .home__container-top-password {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    letter-spacing: auto;
    color: #94A3B8;
    margin-top: 5px; } }
@media screen and (max-width: 1100px) {
  .home__navigation {
    padding: 40px 30px; }
  .home__container .home__container-top-filter {
    display: grid;
    grid-template-columns: 60% 40%;
    /* Перша кнопка 70%, друга 30% */
    gap: 10px;
    grid-auto-rows: minmax(15px, auto); } }
@media screen and (max-width: 1000px) {
  .home__navigation {
    width: 10%;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .home__navigation-top-logo {
      justify-content: center;
      align-items: flex-start;
      display: flex; }
      .home__navigation-top-logo .home__logo {
        display: none; }
    .home__navigation-top-menu .home__nav {
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 20px;
      padding-left: 0px;
      cursor: pointer; }
      .home__navigation-top-menu .home__nav-text {
        display: none; }
      .home__navigation-top-menu .home__nav-defult {
        display: none; }
    .home__navigation-bottom-text {
      display: none; }
  .home__container {
    width: 90%;
    padding-right: 40px; }
    .home__container .home__container-top-filter {
      display: grid;
      grid-template-columns: 60% 40%;
      /* Перша кнопка 70%, друга 30% */
      gap: 10px;
      grid-auto-rows: minmax(15px, auto); }
  .home__popup {
    width: 90%;
    height: 80%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px; }
    .home__popup-close {
      position: absolute;
      z-index: 5;
      left: 90%;
      bottom: 92%; } }
@media screen and (max-width: 750px) {
  .home__navigation {
    width: 10%;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .home__navigation-top-logo .home__icon {
      width: 33px;
      height: 40px; }
    .home__navigation-top-menu .home__nav {
      width: 45px;
      height: 45px; }
      .home__navigation-top-menu .home__nav-icon {
        width: 15px;
        height: 15px;
        background-size: cover; }
    .home__navigation-bottom-icon {
      width: 15px;
      height: 15px; }
  .home__container {
    width: 90%;
    padding-right: 30px;
    padding-left: 30px; }
    .home__container-bottom-password {
      width: 100%;
      padding: 16px; }
      .home__container-bottom-password .password__info-photo {
        width: 60px;
        height: 60px; }
      .home__container-bottom-password .password__info-text {
        width: auto;
        height: 60px;
        margin-left: 20px; }
        .home__container-bottom-password .password__info-text .password__title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: auto;
          letter-spacing: auto;
          color: #15151F;
          margin-top: 0px; }
        .home__container-bottom-password .password__info-text .password__main {
          width: auto;
          height: 25px;
          border-radius: 30px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: auto;
          letter-spacing: auto;
          color: 0;
          margin-top: 0px;
          color: #fff;
          padding: 0 12px;
          cursor: pointer; }
      .home__container-bottom-password .password__changes {
        height: 80px; }
        .home__container-bottom-password .password__changes-date {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: auto;
          letter-spacing: auto;
          color: #94A3B8;
          margin-top: 0px; }
        .home__container-bottom-password .password__changes-box .change__button {
          width: 30px;
          height: 30px;
          margin: 0 10px;
          position: relative;
          left: 10px; }
          .home__container-bottom-password .password__changes-box .change__button-img {
            width: 15px;
            height: 15px; } }
@media screen and (max-width: 550px) {
  .home {
    flex-direction: column; }
    .home__navigation {
      width: 100%;
      height: 100px;
      padding: 10px 20px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      display: flex !important;
      flex-direction: row;
      margin-top: 0px;
      position: absolute;
      top: 0%; }
      .home__navigation-top {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row; }
        .home__navigation-top-logo {
          width: auto;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          display: flex;
          flex-direction: row; }
          .home__navigation-top-logo .home__icon {
            width: 33px;
            height: 40px; }
        .home__navigation-top-menu {
          height: 100%;
          display: flex;
          margin-top: 0px;
          align-items: center;
          margin-left: 50px; }
          .home__navigation-top-menu .home__nav {
            width: 45px;
            height: 45px;
            margin-top: 0px; }
            .home__navigation-top-menu .home__nav-icon {
              width: 20px;
              height: 20px;
              background-size: cover; }
      .home__navigation-bottom-icon {
        width: 15px;
        height: 15px; }
    .home__container {
      width: 100%;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 100px; }
      .home__container .home__container-top-filter {
        grid-template-columns: 50% 50%; }
        .home__container .home__container-top-filter .home__search {
          padding: 10px; }
          .home__container .home__container-top-filter .home__search-icon {
            width: 25px;
            height: 20px; }
          .home__container .home__container-top-filter .home__search-input {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: auto;
            letter-spacing: auto;
            color: #94A3B8;
            margin-top: 0px;
            margin-left: 20px; }
      .home__container-bottom {
        margin-top: 15px; }
        .home__container-bottom-password {
          height: 200px;
          flex-direction: column; }
          .home__container-bottom-password .password__info {
            width: 100%;
            height: auto;
            justify-content: space-between;
            align-items: center;
            display: flex; }
            .home__container-bottom-password .password__info-photo {
              width: 110px;
              height: 110px;
              background: #F5F2F6; }
            .home__container-bottom-password .password__info-text {
              width: auto;
              height: 100px;
              justify-content: space-between;
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              margin-left: 30px; }
              .home__container-bottom-password .password__info-text .password__title {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: auto;
                letter-spacing: auto;
                color: #15151F;
                margin-top: 0px; }
              .home__container-bottom-password .password__info-text .password__main {
                width: auto;
                height: 32px;
                border-radius: 39px;
                background: #9747FF;
                justify-content: center;
                align-items: center;
                display: flex;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: auto;
                letter-spacing: auto;
                color: 0;
                margin-top: 0px;
                color: #fff;
                padding: 0 12px;
                cursor: pointer; }
          .home__container-bottom-password .password__changes {
            width: 100%;
            height: 80px;
            justify-content: space-between;
            align-items: flex-end;
            display: flex;
            flex-direction: row-reverse; }
            .home__container-bottom-password .password__changes-date {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: auto;
              letter-spacing: auto;
              color: #94A3B8;
              margin-top: 0px; }
            .home__container-bottom-password .password__changes-box {
              width: auto;
              height: auto;
              justify-content: flex-start;
              align-items: center;
              display: flex; }
              .home__container-bottom-password .password__changes-box .change__button {
                width: 34px;
                height: 34px;
                border: 1px solid #E8E8E8;
                background: #FFF;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                display: flex;
                margin: 0 0px;
                left: 0;
                margin-left: 15px;
                position: relative;
                left: -15px; }
                .home__container-bottom-password .password__changes-box .change__button-img {
                  width: 19px;
                  height: 19px;
                  background-size: cover;
                  background-repeat: no-repeat; } }

/*# sourceMappingURL=Home.css.map */
